@import './styles/variables.css';


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--color-bg-main);
  display: flex;
  justify-content: left;
  font-size: 16px;
  color: var(--color-text-main);
  min-height: 100dvh;
  height: calc(var(--vh, 1vh) * 100);
}

.App-link {
  color: #61dafb;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color-bg-main);
  overflow: hidden;
  position: relative;
  top: 0;
}

.main-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition: height 0.3s ease;
  width: 100%;
  padding-right: 1%;
}

.main-page.collapsed {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition: height 0.3s ease;
  width: 100%;
  padding-right: 1%;
}

.message-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  overflow-y: auto;
  background-color: transparent;
  align-items: stretch;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  margin-top: 32px;
  width: 100%;
  background-color: var(--color-bg-main);
  font-size: 16px;
}

.message-item {
  color: black;
  padding: 10px 14px;
  border-radius: 16px;
  max-width: 60%;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: left;
  display: block;
  width: fit-content;
  box-sizing: border-box;
}

.message-item.query {
  background-color: var(--color-bg-message-user);
  align-self: flex-end;
}

.message-item.response {
  background-color: var(--color-bg-message-gpt);
  opacity: 0.9;
  align-self: flex-start;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--color-bg-input-box);
  border-radius: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

.input-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-buttons div {
  display: flex;
  gap: 8px;
}

.input-buttons .left {
  padding-left: 8px;
}

.input-buttons .right {
  padding-right: 8px;
}

.input-buttons button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-border-btn);
  color: rgb(142, 138, 138);
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit-btn {
  background-color: var(--color-submit-btn);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

#submit-btn:hover {
  background-color: var(--color-submit-hover);
  border-color: rgba(0, 0, 0, 0.3);
}

.chat-input {
  display: flex;
  flex-direction: row;
  flex: 1;
  position: static;
  height: inherit;
}

.chat-input textarea {
  flex: 9;
  padding: 8px 8px 4px 8px;
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--color-text-textarea);
  background-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  resize: vertical;
}

.spinner {
  animation: spin 1s linear infinite;
}

.left-side.collapsed{
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  background: transparent;
}

.left-side {
  background: var(--gradient-sidebar);
}

.sidebar {
  position: relative;
  width: 140px;
  background-color: transparent;
  transition: width 0.3s ease;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  max-height: 90%;
}

.sidebar.collapsed {
  width: 60px;
  color: transparent;
}

.sidebar-header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 1rem;
  font-size: 16px;
  cursor: pointer;
  padding: 16px;
  background-color: transparent;
}

.sidebar-header.collapsed {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 1rem;
  font-size: 16px;
  cursor: pointer;
  padding: 16px;
  background: linear-gradient(to right, rgba(50, 55, 65, 0), rgba(50, 55, 65, 0));

}

.sidebar-header svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.logo {
  font-weight: bold;
}

.sidebar-menu {
  list-style: none;
  padding: 1rem;
  margin: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar-menu li:hover {
  background-color: var(--color-hover-sidebar-selected);
}

.sidebar-menu.collapsed li:hover {
  background-color: transparent;
  pointer-events: none;
}

.selected-chat-collapsed {
  background-color: var(--color-hover-sidebar-selected);
}

.app-container {
  display: flex;
}

@media (max-width: 600px) {
  .input-buttons button {
    width: 32px;
    height: 32px;
  }

  #submit-btn {
    width: 32px;
    height: 32px;
  }

  .message-item {
    font-size: 16px;
    transform: scale(0.9);
    max-width: 80%;
  }

  .sidebar.collapsed {
    width: 40px !important;
  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}